body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
}
header {
    color: #ffffff;
    text-align: center;
    padding: 10px;
    text-shadow: 5px 2px #757272;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 15px;
    color: white;
}
form {
    margin-bottom: 20px;
}
form label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}
form input[type="text"],
form input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    position: center;
}
button[type="submit"] {
    background-color: #757272;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.logo {
    width: 200px;
    height: 150px;
}
#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
}
#showPasswordButton, #showPasswordButton2{
    background-color: #757272;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
